# Database Configuration
# Prisma uses this URL to connect to PostgreSQL.
# In development (using docker-compose), the database host is 'postgres'
DATABASE_URL="postgresql://koby:supersecurepassword@postgres:5432/kobydb?schema=public"
